{% extends 'layout.twig' %}

{% block body %}
  <div class="product">
    <div class="row first_row_product">
      <img src="{{ data.logo }}">
      <h4>{{ data.url}}</h4>
    </div>
    {% if data.dropshipping == true %}
      <div class="row second_row_product">
        <h2>Liste des produits scannés :</h2>
      </div>
      <div class="list_site">
        <table id="table" class="list_product">
          <tbody>
            {% for product in data.list_product %}
              <tr>
                <td><a href="{{ product.aliseeks }}" target="_blank"><img src="{{ product.image }}"></a></td>
                <td><a href="{{ product.url_product }}" target="_blank">Lien du produit</a></td>
                <td><a href="{{ product.aliseeks }}" target="_blank">Vrai produit</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>


    {% else %}
      <div class="row second_row_product">
        <p>Site non répertorié au sein de la plateforme</p>
      </div>
    {% endif %}
    <div class="row">
      <a href="/"><button id="btn" type="button" class="neu-light btn-action" >Revenir au menu d'acceuil</button></a>
    </div>
  </div>
{% endblock %}
